@import "tailwindcss";

@theme {
  --font-dm-serif: "DM Serif Display", serif;
  --font-press-start: "Press Start 2P", system-ui;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  /* Hide scrollbar, let R3F ScrollControls handle it */
}

#root {
  width: 100%;
  height: 100%;
}