@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  /* Hide scrollbar, let R3F ScrollControls handle it */
}

#root {
  width: 100%;
  height: 100%;
}